#welcomeText {
    opacity: 0;
    margin: 2rem 0rem;
    font-size: 2rem;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

#subscription-title {
    margin: 3rem 0rem;
    text-align: center;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0.15rem 0.15rem rgb(255, 255, 255);
}

#subscription-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 85%;
    margin: 3rem auto;
    padding: 1rem;
    background-color: var(--lightviolet);
}

#subscription-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 1rem 0rem 0.2rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--darkviolet);
}

.form-input {
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.error {
    padding: 0.5rem 0rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: rgb(255, 2, 2);
}

.error-hidden {
    opacity: 0;
}

#suscribe-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--aquagreen);
    color: var(--darkviolet);
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

#suscribe-btn:hover {
    background-color: var(--darkviolet);
    color: var(--darkorange);
}